<div class="carte-element-container">
  <div class="plat-container" *ngFor="let plat of platsList">
    <span *ngIf="plat.isSpecialite"><img src="/assets/chef-hat.png" alt=""></span>
    <span *ngIf="plat.isVegan"><img src="/assets/natural-food.png" alt=""></span>
    <div class="plat-elements">
      <div class="plat-texte">
        <p>{{PlatByCategorie}}</p>
        <h4>{{plat.nom}}</h4>
        <p>{{plat.description}}</p>
      </div>
      <div class="plat-price">
        <h5>{{plat.prix / 100 | currency:'EUR'}}</h5>
      </div>
    </div>
  </div>
</div>

