<app-header-black></app-header-black>
<h2>Reserver une table</h2>
<form #reservationForm="ngForm" (ngSubmit)="createReservation(reservationForm.value)">
  <div class="nb-personnes">
    <h3>Nombre de couverts</h3>
    <input type="number" min="1" max="6"  name="nbCouverts" [(ngModel)]="nbCouverts">
    <p>(Maximum 6 personnes, au dela nous contacter)</p>
  </div>
  <div class="date-container">
    <h3>Date et heure</h3>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" ngModel name="date">
      
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>

      <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
      
    </mat-form-field>
  </div>
  <div class="allergies">
    <h3>Allergies</h3>
    <input type="text" placeholder="Indiquez ici les éventuelles allergies pour vous et vos convives" name="allergies" ngModel>
  </div>
  <div class="reservation-infos">
    <div>
      <h3>Nom </h3>
      <input type="text" placeholder="Nom" name="nom" ngModel>
    </div>
    <div>
      <h3>E-mail </h3>
      <input type="email" placeholder="Adresse e-mail" name="email" required ngModel>
    </div>
  </div>
  <button type="submit" class="validation-button">Valider la réservation</button>
</form>
<app-footer></app-footer>