<h2>Galerie</h2>

<div class="galerie-container">
  <div class="galerie-first-rank">
    <div class="plate-1 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
    <div class="plate-2 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
    <div class="plate-3 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
  </div>
  <div class="galerie-second-rank">
    <div class="plate-4 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
    <div class="plate-5 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
    <div class="plate-6 plates">
      <div class="middle">
        Titre 1
      </div>
    </div>
  </div>
  <a class="reservation-button" routerLink="/reservation">Réserver une table</a>
</div>
