<h2>Galerie</h2>

<div class="galerie-container">
  <div class="galerie-first-rank">
    <div class="plates" [style.background-image]="'url(quai-antiques/public/upload/images/' + result.photo + ')'" *ngFor="let result of platsList | slice:0:3">
      <div class="middle">
        {{result.titre_photo}}
      </div>
    </div>
  </div>
  <div class="galerie-second-rank">
    <div class="plates" [style.background-image]="'url(quai-antiques/public/upload/images/' + result.photo + ')'" *ngFor="let result of platsList | slice:3:6">
      <div class="middle">
        {{result.titre_photo}}
      </div>
    </div>
  </div>
  <a class="reservation-button" routerLink="/reservation">Réserver une table</a>
</div>
