@import '../../../styles.scss';

@mixin texthover{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  color: $main;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  top: 80%;
  left: 50%;
}

.galerie-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .galerie-first-rank{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;

    .plates{
      @include images;
      position: relative;
      opacity: 1;
      transition: 0.5s ease;

      &:hover{
        opacity: 0.3;

        .middle{
          opacity: 1;
        }
      }
    }
    .middle{
    @include texthover;
    }
  }
      .galerie-second-rank{
        display: flex;
        justify-content: space-evenly;

        .plates{
          background: url(/assets/huitres.jpg);
          @include images;
          position: relative;
          opacity: 1;
          transition: 0.5s ease;
    
          &:hover{
            opacity: 0.3;
    
            .middle{
              opacity: 1;
            }
          }
          .middle{
            @include texthover;
            }
        }  
      }
      .reservation-button{
        @include buttons;
        padding: 18px 23px;
        margin-top: 50px;

        &:visited{
          color: $white;
          text-decoration: none;
        }
      }
}
