/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Playfair+Display&family=Poppins:wght@300;700&family=Raleway:ital,wght@0,300;0,500;1,200&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #F9F6F1;
}

h1 {
  color: #F9F6F1;
}

h2 {
  text-align: center;
  color: #780010;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-calendar-body-selected {
  background: #780010;
  color: #F9F6F1 !important;
}

.mat-calendar-body-cell {
  width: 10%;
  height: 10%;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background: rgba(120, 0, 16, 0.4745098039);
}

.mat-calendar-body-cell {
  width: 10% !important;
  height: 10% !important;
  padding: 20px 50px;
}

.mat-calendar-body-cell-content {
  border: 2px solid #780010;
  color: #780010;
  width: 10%;
  border-radius: 10px !important;
}

.galerie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galerie-container .galerie-first-rank {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.galerie-container .galerie-first-rank .plates {
  background-position: center;
  background-size: cover;
  width: 430px;
  height: 370px;
  margin: 10px;
  position: relative;
  opacity: 1;
  transition: 0.5s ease;
}
.galerie-container .galerie-first-rank .plates:hover {
  opacity: 0.3;
}
.galerie-container .galerie-first-rank .plates:hover .middle {
  opacity: 1;
}
.galerie-container .galerie-first-rank .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  color: #780010;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  top: 80%;
  left: 50%;
}
.galerie-container .galerie-second-rank {
  display: flex;
  justify-content: space-evenly;
}
.galerie-container .galerie-second-rank .plates {
  background: url(/assets/huitres.jpg);
  background-position: center;
  background-size: cover;
  width: 430px;
  height: 370px;
  margin: 10px;
  position: relative;
  opacity: 1;
  transition: 0.5s ease;
}
.galerie-container .galerie-second-rank .plates:hover {
  opacity: 0.3;
}
.galerie-container .galerie-second-rank .plates:hover .middle {
  opacity: 1;
}
.galerie-container .galerie-second-rank .plates .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  color: #780010;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  top: 80%;
  left: 50%;
}
.galerie-container .reservation-button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  background: #780010;
  color: #F9F6F1;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 18px 23px;
  margin-top: 50px;
}
.galerie-container .reservation-button:visited {
  color: #F9F6F1;
  text-decoration: none;
}/*# sourceMappingURL=galerie.component.css.map */