<div class="footer-container">
  <div class="border-1">
    <div class="border-2">
      <div class="footer-title">
        <h4>Quai Antiques</h4>
        <div class="sem-hours">
          <p>Lundi :</p>
          <p>Fermé</p>
        </div>
        <div class="sem-hours">
          <p>Du mardi au samedi :</p>
          <div class="individual-hours">
            <p>12h00-15h00</p>
            <p>18h30-23h00</p>
          </div>
        </div>
        <div class="sem-hours">
          <p>Dimanche : </p>
          <p>12h00-16h00</p>
        </div>
      </div>
      <div class="footer-menu">
        <ul>
          <li>Accueil</li>
          <li>Carte</li>
          <li>Menus</li>
          <li>Réservation</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="footer-infos">
        <p>32, route de Savoie</p>
        <p>73120 Courchevel</p>
        <p>+33 4 04 04 04 04</p>
        <p>info@quaiantiques.fr</p>
      </div>
    </div>

  </div>
</div>