<div class="footer-container">
  <div class="border-1">
    <div class="border-2" *ngFor="let info of infos">
      <div class="footer-title">
        <h4>Quai Antiques</h4>
        <div class="sem-hours">
          <p>Lundi :</p>
          <p>Fermé</p>
        </div>
        <div class="sem-hours">
          <p>Du mardi au dimanche :</p>
          <div class="individual-hours">
            <p>{{info.ouv_midi}}-{{info.ferm_midi}}</p>
            <p>{{info.ouv_soir}}-{{info.ferm_soir}}</p>
          </div>
        </div>
      </div>
      <div class="footer-menu">
        <ul>
          <li><a routerLink="/home">Accueil</a></li>
          <li><a routerLink="/carte">Carte</a></li>
          <li><a routerLink="/menus">Menus</a></li>
          <li><a routerLink="/reservation">Réservation</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-infos">
        <p>32, route de Savoie</p>
        <p>73120 Courchevel</p>
        <p>+33 4 04 04 04 04</p>
        <p>info@quaiantiques.fr</p>
      </div>
    </div>

  </div>
</div>