@import '../../../styles.scss';

.user-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
h3{
  color: $main;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.reservations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table{
    width: 70vw;

    thead{
      tr{
        th{
          font-family: 'Raleway', sans-serif;
        }

      }
    }

    tbody{
      text-align: center;
      tr{
        td{
          font-family: 'Raleway', sans-serif;
        }
      }
    }
  }

  margin-bottom: 50px;

}

.dashboard-button{
  @include buttons;
  padding: 20px;
  margin-top: 50px;
}

.deconnexion{
  @include buttons;
  padding: 20px;
  margin-top: 50px;
}
}