@import '../../../styles.scss';

h2{
  color: $text;

}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

  li{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

}