<div *ngIf="item == 1">
  <div *ngFor="let plat of platsMenu1">
    <h5>{{plat.nom}}</h5>
    <p>{{plat.description}}</p>
    <div class="separator">
      **********
    </div>
  </div>
</div>
<div *ngIf="item == 2">
  <div *ngFor="let plat of platsMenu2">
    <h5>{{plat.nom}}</h5>
    <p>{{plat.description}}</p>
    <div class="separator">
      **********
    </div>
  </div>
</div>
<div *ngIf="item == 3">
  <div *ngFor="let plat of platsMenu3">
    <h5>{{plat.nom}}</h5>
    <p>{{plat.description}}</p>
    <div class="separator">
      **********
    </div>
  </div>
</div>