<div class="container">
  <div class="menu-open" *ngIf="isMenuOpened">
    <app-navigation />
  </div>
  <div id="header-homepage">
    <div class="top-elements-homepage">
      <button class="toggleMenu" (click)="toggleMenu()" >
        <img src="../../assets/blackmenu.png" class="menu-hamburger-image">
        {{isMenuOpened ? 'X' : 'Menu'}}
      </button>
      <a routerLink="/home" id="logo-quai-antiques" ngClass="logo-quai-antiques">Quai Antiques</a>
      <a class="connexion-button" routerLink="/connexion" *ngIf="compteId == ''">Se connecter</a>
      <a class="connexion-button" [routerLink]="['/user', compteId]" *ngIf="compteId != ''">Mon compte</a>
    </div>
  </div>
</div>