<h2>Spécialité du chef</h2>
<div class="specialite-container" *ngFor="let result of platsList">
  <div class="image-plat-container">
    <div class="image-plat" [style.background-image]="'url(https://quai-antiques.studiomdev.fr/public/upload/images/plats/' + result.photo + ')'"></div>
  </div>
  <div class="description-plat" *ngIf="result.isSpecialite">
    <h3 class="plat-titre">{{result.nom}}</h3>
    <p class="plat-description">{{result.description}}</p>
  </div>
  <div class="tarif-plat">{{result.prix / 100 | currency:'EUR':'symbol' }}</div>
</div>
<div class="button-container">
  <a class="carte-button" routerLink="/carte">Voir la carte</a>
</div>