<app-header-black></app-header-black>

<h2>Créer votre compte</h2>

<form #inscriptionForm="ngForm" (ngSubmit)="addClient(inscriptionForm.value)">
  <div class="element-container">
    <label for="name">Nom</label>
    <input type="text" name="nom" id="name" ngModel>
  </div>

  <div class="element-container">
    <label for="prenom">Prénom</label>
    <input type="text" name="prenom" id="prenom" ngModel>
  </div>

  <div class="element-container">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" ngModel>
  </div>

  <div class="element-container">
    <label for="password">Mot de passe </label>
    <input type="password" name="password" id="password" ngModel>
  </div>

  <div class="element-container">
    <label for="nb_convives">Nombre de convives par défaut : </label>
    <input type="number" name="nbConvives" id="nbConvives" ngModel>
  </div>

  <button type="submit" class="inscription-button">Créer mon compte</button>
</form>

<app-footer></app-footer>