@import '../../../../styles.scss';

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .element-container{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    @media all and (max-width: 840px){
      width: 90vw;
    }

    label{
      font-family: 'Raleway', sans-serif;
    }
  }

  .inscription-button{
    @include buttons;
    padding: 20px;
    margin-top: 20px;
  }
}