<app-header-black></app-header-black>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mail">
      <input type="email" placeholder="EMAIL" formControlName="email">
    </div>
    <div class="password">
      <input type="password" placeholder="MOT DE PASSE" formControlName="password">
    </div>
    <button class="connexion-button">Se connecter</button>
  </form>

  <div class="inscription">
    <p>Pas encore de compte ? </p>
    <a routerLink="/inscription" class="inscription-button">Créer un compte</a>
  </div>
</div>
<app-footer></app-footer>
