@import '../../../styles.scss';

.container{
  padding-top: 20px;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    font-family: 'Raleway', sans-serif;
    color: $text;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0;

    input{
      @include buttons;
      background: $white;
      border: 1px solid $main;
      color: $text;
      border-radius: 0;
      margin-bottom: 20px;
      padding: 16px;
      text-transform: none;
    }
    
    input::placeholder{
      color: $text;
      text-align: center;
    }
    
    input:focus{
      outline: 2px solid $main;
    }
    
    .connexion-button{
      @include buttons;
      padding: 18px;
      width: 100%;
    }
  }


}

.inscription{
  p{
    text-align: center;
    margin-bottom: 40px;
  }
  .inscription-button{
    @include buttons;
    padding: 18px;
    width: 100%;
    margin-top: 20px;
  }
}
