/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Playfair+Display&family=Poppins:wght@300;700&family=Raleway:ital,wght@0,300;0,500;1,200&display=swap');
$white : #F9F6F1;
$blue: #1B1B37;
$text: #1F1F1F;
$main: #780010;

@mixin buttons {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  background: $main;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

@mixin images {
  background-position: center;
  background-size: cover;
  width: 430px;
  height: 370px;
  margin: 10px;
}

@mixin itemsText{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  letter-spacing: 10px;
  color: $text;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

@mixin titresPlats{
  font-family: 'Ms Madi', cursive;
  font-size: 38px;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  background: $white;
}

h1{
  color: $white;
}

h2{
  text-align: center;
  color: $main;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.button-container{
  display: flex;
  justify-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field{
  margin: 0 10%;
}