@import '../../../styles.scss';

.links-container{
  background: $blue;
  display: flex;
  flex-direction: column;
  color: $white;

  @media all and (max-width: 840px){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;
    padding: 35px 0 35px 100px;
    color: $white;
    
    &:visited{
      color: $white;
    }

    &:hover{
      font-weight: 500;
    }

    @media all and (max-width: 840px){
      padding: 10px;
    }
  }
}